<div>
  <button (click)="uploadFolder()">
    <span class="material-icons">Добавить папку</span>
  </button>

  <input
    #folder_name
    class="hidden"
    type="file"
    webkitdirectory directory multiple
    (change)="onFListChange($event)"
    required=""
  />
</div>

<h3>Папки с файлами для сканирования:</h3>

<div>
  <ul *ngIf="folderList.length; else noFolders">
    <li *ngFor="let f of folderList; let i = index">
      <strong>{{ i + 1 }}</strong> {{ f.name }}
    </li>
  </ul>

  <ng-template #noFolders>
    <p style="text-align: center">Нет выбранных папок</p>
  </ng-template>
</div>
